.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
.alt-header__column {
  width: 33%;
}
.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
}
.alt-header__column span:last-child {
  margin-left: 20px;
}
